<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!--JQuery required for Semantic UI-->
  <!--<script src="../js/jquery.min.js"></script>-->

  <!--Vue for frontend management-->
  <!--<script src="../js/vue.runtime.min.js"></script>-->
  <!--<script src="../js/vue.js"></script>-->

  <script src="../js/vue/vue.js"></script>

  <!--Axios for HTTP Requests-->
  <script src="../js/axios.min.js"></script>

  <!--Semantic UI-->
  <!--<script src="../semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="../semantic/dist/semantic.min.css" />-->


  <!--Roboto fonts for Vuetify-->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!--Material Fonts for Vuetify-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Vuetify!!!-->
  <script src="../js/vuetify.js"></script>
  <link href="../css/vuetify.min.css" rel="stylesheet">

</head>

<body>
  <div id="quickinsights">

    <!--card per insight-->
    <v-card v-for="insight in insights" v-bind:key="insight">
      <v-card-text>{{insight.text}}</v-card-text>
      <v-card-text>Tokens</v-card-text>
      <v-chip v-for="token in insight.tokens" v-bind:key="token">{{token}}</v-chip>gunzfan2
      
      <v-card-text>Stems</v-card-text>
      <v-chip v-for="stem in insight.stems" v-bind:key="stem">{{stem}}</v-chip>
      <v-card-text>Tags</v-card-text>
      <v-chip v-for="tag in insight.tags" v-bind:key="tag">{{tag[0]}} | {{tag[1]}}</v-chip>
      <v-card-text>Entities</v-card-text>
      <v-chip v-for="entity in insight.entities" v-bind:key="entity">{{entity[0]}} | {{entity[1]}}</v-chip>
    </v-card>

    <!--text field-->
    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field v-model="message" placeholder="enter message"></v-text-field>
      </v-flex>
    </v-layout>

    <!--button-->
    <v-btn floating v-on:click.native="addInsight()" class="purple">
      <v-icon light>gavel</v-icon>
    </v-btn>

  </div>

  <!--Quick Insights-->
  <script src="../js/app.js"></script>
</body>

</html>